// active

.active {

	// .active__header

	&__header {
		background: url("./../img/active/bg-header-active-20.jpg") 0 0 no-repeat;
		background-size: cover;	
	}

	// .active__subtitle

	&__subtitle {
		font-family: "Merriweather", serif;
		font-weight: 700;
		text-align: left;
		padding-top: 50px;
		margin-bottom: 40px;

		@media (max-width:$pc){
			padding-top: calc(rem(30) + 20*((100vw - 478px) / (1200 - 478)));
			margin-bottom: calc(rem(25) + 15*((100vw - 478px) / (1200 - 478)));
	  }
	}

	// .active__img

	&__img {
		width: 100%;
		object-fit: cover;
	}
}

