// active

.active {
		// .active__header

		&__header {
		background: url("./../img/active/bg-header-active-20.jpg") 0 0 
		no-repeat;
		background-size: cover;
		min-height: rem(350);
		color: $mainColorLight;
		display: flex;	
		flex-direction: column;
		justify-content: center;
		align-items: center;

			@media (max-width:$pc){
				min-height: calc(rem(220) + 130*((100vw - 478px) / (1200 - 478)));
			}
		}

		// .active__catalog

		&__catalog {
		}
}
.header-active {

		// .header-active__title

		&__title {
		}
}
.title {
}
.catalog-active {

		// .catalog-active__container

		&__container {
		}

		// .catalog-active__breadcrumbs

		&__breadcrumbs {
		}
}
.breadcrumbs {

		// .breadcrumbs__list

		&__list {
		}

		// .breadcrumbs__item

		&__item {
		}

		// .breadcrumbs__link

		&__link {
		}

		// .breadcrumbs__current

		&__current {
		}
}
.text {
}
.link {
}
