// bath
.bath {

	// .bath__header

	&__header {
	}

	// .bath__content

	&__content {
	}
}
.header-bath {

	// .header-bath__title

	&__title {
	}
}
.gallery {

	// .gallery__header

	&__header {
	}
}
.title {
}
.content-bath {

	// .content-bath__container

	&__container {
	}

	// .content-bath__breadcrumbs

	&__breadcrumbs {
	}

	// .content-bath__description

	&__description {
	}

	// .content-bath__gallery

	&__gallery {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 20px;
	}
}

.gallery__image {
	object-fit: cover;
	max-width: 100%;
	width: 100%;
}