// Заголовки, общие БЄМ блоки и проче...
.display-none {
	display: none;
}

h2 {
	font-size: 35px;
	text-align: center;		
	margin-bottom: 30px;
}

.title {
	text-transform: uppercase;
	font-family: "Merriweather", serif;
	font-weight: 900;
	line-height: math.div(36, 30);	
}

.text {
	line-height: math.div(30, 18);
	text-align:justify; 
}

.img-left {
	float: left;
	margin: 0 30px 20px 0;	
}

.img-right {
	float: right;
	margin: 0 0 20px 30px;	
}

.text-link {
	color: $linkColor;
}

.text-link:hover {
	color: $linkHoverColor;
	text-decoration: underline;
	text-underline-offset: 4px;
}
