// Заголовки, общие БЄМ блоки и проче...
.display-none {
	display: none;
}

section {
	padding: 70px 0 0;

	@media (max-width:$pc){
		 padding-top: calc(rem(50) + 20*((100vw - 478px) / (1200 - 478)));
		//  padding-bottom: calc(rem(50) + 20*((100vw - 478px) / (1200 - 478)));
	}
}

h2 {
	font-size: 40px;
	text-align: center;		
	margin-bottom: 50px;

	@media (max-width:$pc){
		font-size:  calc(rem(27) + 13*((100vw - 478px) / (1200 - 478)));
		margin-bottom: calc(rem(25) + 25*((100vw - 478px) / (1200 - 478)));
	}
}

h3 {
	font-size: 34px;
	margin-bottom: 20px;

	@media (max-width:$pc){
		font-size:  calc(rem(22) + 12*((100vw - 478px) / (1200 - 478)));
		margin-bottom: calc(rem(10) + 10*((100vw - 478px) / (1200 - 478)));
	}
}

h4 {
	font-size: 21px;
	margin-bottom: 15px;

	@media (max-width:$pc){
		font-size:  calc(rem(19) + 2*((100vw - 478px) / (1200 - 478)));
		margin-bottom: calc(rem(10) + 5*((100vw - 478px) / (1200 - 478)));
	}
}

.title {
	text-transform: uppercase;
	font-family: "Merriweather", serif;
	font-weight: 900;
	line-height: math.div(36, 30);		
}

.text {
	font-size: rem(18);
	line-height: math.div(30, 18);

	@media (max-width:$pc){
		font-size:  calc(rem(16) + 2*((100vw - 478px) / (1200 - 478)));
 }
}

.float-left {
	float: left;
	margin: 0 em(30, 18) em(20, 18) 0;	
}

.float-right {
	float: right;
	margin: 0 0 em(20, 18) em(30, 18);	
}

.float-left, .float-right {
	@media (max-width:$mobileSmall){
		clear: both; 
		margin: 10px 0 10px;
	}
}

.text-link {
	color: $linkColor;
	transition: color 0.3s ease;
}

.text-link:hover {
	color: $linkHoverColor;
	text-decoration: underline;
	text-underline-offset: 4px;
}

// Общие стили для всех кнопок сайта
.button, .book-button {
	display: inline-block;
	padding: 10px 24px 7px;
	border-radius: 4px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.button {
	border: solid 2px $themeColor;
	background-color: transparent;
	color: $themeColor;

	&:hover {
		background-color: $themeColor;
		color: $mainColorLight;
	}
}

.book-button {
	border: solid 2px $accentColor;
	background-color: $accentColor;
	color: $mainColorLight;;

	&:hover {
		background-color: transparent;
		color: $accentColor;
	}
}

button:active, .button:active, .book-button:active {
	transform: translate(1px, 2px);
}


