//footer
.footer {
	color: $mainColorLight;
	background: url("./../img/footer-bg-60.jpg") 0 0 no-repeat;
	background-size: cover;
	
	// .footer__container

	&__container {
		
	}

	// .footer__top

	&__top {
		display: flex;
		justify-content: space-between;
		padding: em(20, 16) 0;

		@media (max-width:$tablet) {
			flex-direction: column;
			justify-content: end;
			align-items: center;
		}
	}

	// .footer__left-block

	&__left-block {
		text-transform: uppercase;
		letter-spacing: 1.5px;
		text-align: center;

		@media (max-width:$tablet) {
			margin-bottom: 20px;
		}
	}

	// .footer__right-block

	&__right-block {
		flex: 1 1;
		max-width: em(605, 16);

		@media (max-width:$tablet) {
			text-align: center;
		}
	}

	// .footer__menu

	&__menu {
		font-weight: 400;
		line-height: math.div(28, 16);
		margin-bottom: em(10, 16);
	}

	// .footer__bottom

	&__bottom {
		display: flex;
		justify-content: center;
		padding: em(15, 16);
		border-top: 1.5px solid $mainColorLight;
	}
}
.left-block {

	// .left-block__title

	&__title {
		font-size: calc(rem(35) + 7*((100vw - 320px) / (1920 - 320)));
		font-weight: 900;
		margin-bottom: em(5, 16);		
	}

	&__title span {
		font-size: calc(rem(22) + 3*((100vw - 320px) / (1920 - 320)));
	}

	&__link {
		transition: opacity 0.3s ease;
	}

	&__link:hover {
		opacity: 0.8;
	}

	// .left-block__descripton

	&__descripton {
		font-weight: 500;
		line-height: math.div(24, 16);
	}
}
.right-block {

	// .right-block__actions

	&__actions {
		line-height: math.div(28, 16);
		margin-bottom: em(10, 16);
	}

	// .right-block__social-list

	&__social-list {
		display: flex;		

		@media (max-width:$tablet) {
			justify-content: center;
		}
	}

	&__social-list li:not(:last-child) {
		margin-right: 20px;		
	}
}
.menu-footer {

	// .menu-footer__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		text-transform: uppercase;

		@media (max-width:$tablet) {
			justify-content: center;
		}
	}

	// .menu-footer__item

	&__item:not(:last-child):after {
		content: '|';
		margin: 0 em(7, 16);
		color: $accentColor;
  }

	// .menu-footer__link

	&__link {
		position: relative;
	}

	&__link::before,
	&__link::after {
		content: '';
		position: absolute; 
		top: 106%;
		width: 0;
		height: 2px;
		background: $accentColor;
		transition: 0.3s;
	}

	&__link::before {
		left: 50%;
	}

	&__link::after {
		right: 50%;
	}

	&__link:hover::before,
	&__link:hover::after {
		width: 50%;
	}
}
.actions-footer {

	// .actions-footer__icon

	&__icon {
		width: em(16, 16);
		height: em(16, 16);
		vertical-align: middle;
		margin-right: em(5, 16);
		fill: $accentColor;
	}

	&__link {
		transition: color 0.3s ease;
	}

	&__link:hover {
		color: $accentColor;
	}
}
.social-list {

	// .social-list__item

	&__item {
	}

	// .social-list__link
					

	&__link {
		display: flex;	
	}

   &__icon {
		width: em(32, 16);
		height: em(32, 16);
		transition: opacity 0.3s ease;
	}

	&__icon:hover {
		opacity: 0.8;
	}
}
.footer-bottom {

	// .footer-bottom__copyright

	&__copyright {
		
	}
}
