// gallery

.gallery {
	padding-top: 70px;

	@media (max-width:$mobile){
		padding-top: 50px;		 
	}

		// .gallery__header

		&__header {
		background: url("./../img/gallery/bg-gallery-20.jpg") 0 0 no-repeat;
		background-size: cover;
		min-height: 350px;
		color: $mainColorLight;
		display: flex;	
		flex-direction: column;
		justify-content: center;
		align-items: center;
		}

		// .gallery__catalog

		&__catalog {
			background: url("./../img/gallery/bg-main-gallery.JPG") 0 0 no-repeat;
			background-size: cover;
		}
}
.header-gallery {

		// .header-gallery__title

		&__title {
			font-size: 60px;
		}
}

.catalog-gallery {

	// .catalog-gallery__container

	&__container {
	}

	// .catalog-gallery__content-wrap

	&__content-wrap {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		gap: rem(50);
	}

	// .catalog-gallery__link

	&__link {
	}

	// .catalog-gallery__content-block

	&__content-block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: rem(500);
		background-color: $mainColorLight;
		padding: em(15, 18) em(15, 18) em(30, 18);
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

		@media (max-width:$pc){
			max-width:  calc(rem(340) + 160*((100vw - 768px) / (1200 - 768)));
		}

		@media (max-width:$mobile){
			max-width: rem(480);
		}
	}

	&__content-block:hover img {
		transform: scale(1.2);
		overflow: hidden;
	}

	// .catalog-gallery__img

	&__img {
		width: 100%;
		object-fit: cover;
		margin-bottom: em(30, 18);
	}

	// .catalog-gallery__subtitle

	&__subtitle {
		text-align: center;
	}

}
