// gallery

.main-gallery {
	
		// .main-gallery__header

		&__header {
		background: url("./../img/gallery/bg-gallery-20.jpg") 0 0 no-repeat;
		background-size: cover;
		min-height: rem(350);
		color: $mainColorLight;
		display: flex;	
		flex-direction: column;
		justify-content: center;
		align-items: center;

			@media (max-width:$pc){
				min-height: calc(rem(220) + 130*((100vw - 478px) / (1200 - 478)));
			}
		}

		// .main-gallery__content

		&__content {
			background: url("./../img/gallery/bg-main-gallery.jpg") 0 0 no-repeat;
			background-size: cover;
		}
}

.content-main-gallery {
	
	// .content-main-gallery__wrapper

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		gap: rem(50);

		@media (max-width:$mobile) {
			grid-template-columns: 1fr;
			 gap: rem(30); 
		}
	}

	// .content-main-gallery__block

	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		max-width: rem(500);
		background-color: $mainColorLight;
		padding: em(15, 18) em(15, 18) em(40, 18);
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		overflow: hidden;
		
		@media (max-width:$pc){
			max-width:  calc(rem(340) + 160*((100vw - 768px) / (1200 - 768)));
		}

		@media (max-width:$mobile){
			max-width: rem(480);
		}
	}

	// .content-main-gallery__link

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}

	&__img-wrap {
		overflow: hidden;
		margin-bottom: em(30, 18);
	}

	// .content-main-gallery__img

	&__img {
		width: 100%;
		object-fit: cover;
		transition: all 0.8s ease;
	}

	&__block:hover img {
		transform: scale(1.05);		
	}

	// .content-main-gallery__subtitle

	&__subtitle {
		text-align: center;
	}

	&__view {
		// text-transform: uppercase;
		font-weight: 500;
		color: $themeColor;
		transition: color 0.3s ease;
	}

	&__block:hover span {
		color: $linkHoverColor;
		text-decoration: underline;
		text-underline-offset: 4px;
	}
}
