//header
.header {
   position:absolute;
   background-color: $mainColorLight;
   width: 100%;
   z-index: 10;
	padding: 10px 0;

   &__container-wrapper {
		display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 50px;
		max-width: 1920px;
		padding-left: calc(15px + 55*((100vw - 1200px) / (1920 - 1200)));
		padding-right: calc(15px + 55*((100vw - 1200px) / (1920 - 1200)));

		@media (max-width:$pc){
			padding: 0 15px;
		}
   }

   &__link {
		display: block;
		position: relative;
		width: 100px;
		margin-right: 20px;		
	}

	&__logo {
		position: absolute;
		top: -40px;
		left: 0;
		width: 130px;

		@media (max-width: $tablet) {
			top: -30px;
			width: 100px;
		}

		@media (max-width:$mobileSmall) {
			width: 95px;
		}
	}
      
   .menu {
      &__body {
         @media (max-width: $mobile) {
         position: fixed;
         top: 0;
         left: -100%;
         width: 100%;
         height: 100%;
         background-color: rgba(242,242,242, 0.9);
         padding: 120px 0 0;
         overflow: auto;
         transition: left 0.3s ease 0s;
         }

         .menu-open & {
            left: 0;
         }
      }

      &__list {
         display: flex;
			justify-content: end;
			flex-wrap: wrap;
         align-items: center;
			column-gap: rem(32);

         @media (max-width: $pc) {
            column-gap: calc(rem(25) + 7*((100vw - 768px) / (1260 - 768)));
         }
           
        
         @media (max-width: $mobile) {
         flex-direction: column;
         }
      } 
      
      &__item {
         display: inline-block;
			margin: 0;
      
			@media (max-width: $mobile) {
            margin: 0 0 30px;
				column-gap: 0;
			}
      }

      &__link {
         padding: 3px 0;
         text-transform: uppercase;
         cursor: pointer;
         display: block;
         position: relative;
			font-size: rem(14);
			line-height: math.div(21, 14);

         @media (max-width: $pc) {
            font-size: calc(rem(11) + 3*((100vw - 768px) / (1200 - 768)));
         }
         
         @media (max-width: $mobile) {
            font-size: 22px;
            }
      } 

      &__link::before,
      &__link::after {
         content: '';
         position: absolute; 
         top: 90%;
         width: 0;
         height: 2px;
         background: $accentColor;
         transition: 0.3s;
      }

      &__link::before {
         left: 50%;
      }

      &__link::after {
         right: 50%;
      }

      &__link:hover::before,
      &__link:hover::after {
         width: 50%;
      }
      
      &__link._navigator-active::before,
		&__link._navigator-active::after {
         content: '';
         position: absolute; 
         top: 90%;
         width: 50%;
         height: 2px;
         background: $accentColor;
      }
   }   
}

//headerScroll
._header-scroll {
   position: fixed;
   top: -200px;
}

._header-scroll {
   min-height: 50px;
} 

._header-show {
   transition: top 0.7s 0s;
   top: 0;
}

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $mainColor;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}			
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}