// page

.page {

	// .page__header

	&__header {
		background: url("./../img/page/bg-header-page.jpg") 0 0 no-repeat;
		background-size: cover;	
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

section.page__breadcrumbs {
	padding-bottom: 0;
}

.breadcrumbs-page__nav {
	margin-bottom: 0;
}