// page-header

.page-header {
	min-height: rem(320);
	color: $mainColorLight;
	display: flex;	
	flex-direction: column;
	justify-content: center;
	align-items: center;

		@media (max-width:$pc){
			min-height: calc(rem(220) + 100*((100vw - 478px) / (1200 - 478)));
		}
}