// reviews

.reviews {

	// .reviews__header

	&__header {
		background: url("./../img/reviews/bg-header-reviews.jpg") 0 0 no-repeat;
		background-size: cover;
	}

	// .reviews__content

	&__content {
		background: url("./../img/reviews/bg-reviews.jpg") 0 0 no-repeat;
		background-size: cover;
		border-bottom: solid 2px $themeColor;

		padding-bottom: rem(40);		
	}
}

.content-reviews {

	// .content-reviews__breadcrumbs

	&__breadcrumbs {
		margin-bottom: em(50, 18);
	}

	// .content-reviews__img

	&__img {		
		width: 100%;
		object-fit: cover;
		}

	// .content-reviews__inner

	&__inner {
		margin-bottom: rem(70);

		@media (max-width:$pc) {
			margin-bottom: calc(rem(40) + 30*((100vw - 478px) / (1200 - 478))); 
		}
	}
}

.swiper-slide {
	text-align: center;	
}

.swiper__img-wrapper {
	display: inline-block;
	padding: rem(10);
	background-color: $mainColorLight;

	@media (max-width:$pc){
		padding: calc(rem(5) + 5*((100vw - 478px) / (1200 - 478))); 
	}
}

.swiper__image {
	max-width: 100%;
	object-fit: cover;	
}